*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #f6f8f9;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

/* Regole generali */

.little_container .btn{
  font-size: .7em;
  text-align: center;
  padding: 5px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.big_container li {
  list-style: none;
  
}

.big_container h3{
  font-size: 1.5rem;;
}

.rounded{
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  text-align: center;
  line-height: 17px;
  font-size: .8rem;
}

li .badge{
  color: white;
  border-radius: 50px;
  padding: 5px 8px;
  font-size: 0.8em;
} 

/* Header  */
header{
  background-color: white;
  padding: 10px 20px;
}


header img{
  margin-left: 20px;
  vertical-align: middle;
}

header span{
  font-size: 40px;
  font-weight: bold;
  line-height:100px;
}

span.title{
  vertical-align: middle;
}
/* Main  */

main{
  background-color: white;
  max-width: 950px;
  margin: 50px auto;
  border-radius: 3px;
}

.little_container,
.big_container{
  padding: 15px 40px;
}

.little_container{
  border-bottom: 2px solid #f6f8f9;
}

.btn.btn-task{
  background-color: #47adf1;
  color: white;
  border: 1px solid #47adf1;
}

.btn.btn-task:hover{
  background-color: #7cc0ed;
}

.btn.btn-section{
  background-color: white; 
  color:#b5b9bb;
  border: 1px solid #b5b9bb;
}

.btn.btn-section:hover{
  background-color:#a1a4a5 ;
}

.big_container li h3::before{
  content:"\25BE";
}


.rounded.check{
  content: '\2713';
  color: green;
  border: 1px solid green;
}

.rounded.cross{
  content: '\2717';
  color: red;
  border: 1px solid red;
}



.big_container ul ul{
  margin-bottom:20px;
}

.big_container ul ul li{
  line-height: 40px;
}

.badge.blue {
  background-color: #47adf1;
}

.badge.violet {
  background-color: #9c72e4;
}

.badge.green {
  background-color: #64c0a9;
}

.badge.orange {
  background-color: #f29e33;
}

.badge.pink {
  background-color: #d863a1;
}

.badge.lemon {
  background-color: #b0c926;
}


